@keyframes fadeIn {
    0%   { margin-top:-10px; opacity: 0.99; }
    100% { margin-top:0px; opacity: 1;}
}
@keyframes fadeOut {
    0%   { margin-top:0px; opacity: 1;}
    100%  { margin-top:-10px; opacity: 0.99; }
}

.light-divDatePicker{
    .react-datepicker__navigation--next {
        top: 5px;
        right: 10px;

    }

    .react-datepicker__navigation--previous {
        top: 5px;
        left: 10px;
    }
    .react-datepicker__day--disabled{
        cursor: not-allowed;
    }
    
    .react-datepicker__tab-loop::after{
        content: " ";
        animation-name: fadeOut;
        animation-duration: 0.3s;
        animation-timing-function: ease;
        -webkit-animation-name: fadeOut;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-timing-function: ease;
    }
    .react-datepicker {
        font-family: unset;
        margin-left: -70px;
        font-size: 0.9rem;
        border: none;
        width: 270px;
        border-radius: 10px;
        background-color: white;
        box-shadow: rgba(112, 144, 176, 0.3) 0px 3px 20px;
        color: #1b2559;
        animation-name: fadeIn;
        animation-duration: 0.3s;
        animation-timing-function: ease;
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-timing-function: ease;
        select{
            margin-top: 10px;
            margin-bottom: 10px;
            outline: none;
            border: none;
            font-style: italic;
            margin-left: 5px;
            margin-right: 5px;
            color: #1b2559;
            background-color: transparent;
            cursor: pointer; 
        }
        select.react-datepicker__year-select::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        .react-datepicker__header__dropdown{
            option{
                cursor: pointer;
                background-color: #F4F7FE;
                
                 &:hover{
                    background-color: #1F45CD;
                    color: white;
                }
            }
        }

    }
    .react-datepicker__tab-loop{
        position: absolute;
    }
    .react-datepicker__month-container{
        width: 100%;
    }
    .react-datepicker__day--today{
        transition: 0.3s;
        color: #1F45CD;
        background-color: #a0aec05e;
        border-radius: 10px;
    }
    .react-datepicker__day--today:hover{
        transition: 0.3s;
        background: #a0aec05e;
    }
    .react-datepicker__day--selected{
        transition: 0.3s;
        background: #1F45CD;
        font-weight: bold;
        color: white;
    }
    .react-datepicker__day--selected:hover{
        transition: 0.3s;
        background: #1F45CD;
    }
    .react-datepicker__header{
        background-color: #E8E8EA;
    }
    .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .react-datepicker__day-names{
        font-weight: bold;
        .react-datepicker__day-name{
            color: #1b2559;
        }
        .react-datepicker__day-name:first-child{
            margin-right: 10px;
            color: #1b2559;
        }
    }
    .react-datepicker__day--outside-month{
        color: #A0AEC0;
    }
    .react-datepicker__current-month{
        color: #1b2559;
    }
    .react-datepicker__navigation-icon::before {
        border-color: #1b2559;
        border-style: solid;
        border-width: 3px 3px 0 0;
        content: "";
        display: block;
        height: 9px;
        position: absolute;
        top: 6px;
        width: 9px;
        transition: 0.3s;
    }
    .react-datepicker__navigation:hover *::before {
        transition: 0.3s;
        border-color: #1F45CD;
    }
    .react-datepicker__day:hover, .react-datepicker__day--keyboard-selected:hover{
        transition: 0.3s;
        background: #c7d3e2;
    }
    
    .react-datepicker__day--keyboard-selected{
        background-color: #1F45CD;
        font-weight: bold;
        color: white;
    }
}

/* .dark-divDatePicker{
    .react-datepicker__navigation--next {
        top: 5px;
        right: 10px;
    }
    .react-datepicker__navigation--previous {
        top: 5px;
        left: 10px;
    }
    .react-datepicker {
        font-family: unset;
        margin-left: -70px;
        font-size: 0.9rem;
        border: none;
        width: 270px;
        border-radius: 10px;
        background-color: #0b1437;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 40px;
        color: white;
        animation-name: fadeIn;
        animation-duration: 0.3s;
        animation-timing-function: ease;
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 0.3s;
        -webkit-animation-timing-function: ease;
        select{
            margin-top: 10px;
            margin-bottom: 10px;
            outline: none;
            border: none;
            font-style: italic;
            margin-left: 5px;
            margin-right: 5px;
            color: white;
            background-color: transparent;
            option{
                background-color: #0b1437;
            }
        }
          
        select.react-datepicker__year-select::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        
    }
    .react-datepicker__day {
        transition: 0.3s;
        color: white;
    }
    .react-datepicker__day--disabled{
        color: #8b99aa;
        cursor: not-allowed;
    }
    .react-datepicker__day:hover {
        transition: 0.3s;
        color: #000;
    }
    .react-datepicker__tab-loop{
        position: absolute;
    }
    .react-datepicker__month-container{
        width: 100%;
    }
    .react-datepicker__day--today{
        transition: 0.3s;
        color: white;
        background-color: #a0aec05e;
        border-radius: 10px;
    }
    .react-datepicker__day--today:hover{
        transition: 0.3s;
        background: #a0aec05e;
    }
    .react-datepicker__day--selected{
        transition: 0.3s;
        background: #1CDA51;
        font-weight: bold;
        color: white;
    }
    .react-datepicker__day--selected:hover{
        transition: 0.3s;
        background: #1CDA51;
    }
    .react-datepicker__header{
        background-color: #111c44;
    }
    .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .react-datepicker__day-names{
        font-weight: bold;
        .react-datepicker__day-name{
            color: white;
        }
    }
    .react-datepicker__day--outside-month{
        color: #6e7279;
    }
    .react-datepicker__current-month{
        color: white;
    }
    .react-datepicker__navigation-icon::before {
        border-color: white;
        border-style: solid;
        border-width: 3px 3px 0 0;
        content: "";
        display: block;
        height: 9px;
        position: absolute;
        top: 6px;
        width: 9px;
        transition: 0.3s;
    }
    .react-datepicker__navigation:hover *::before {
        transition: 0.3s;
        border-color: #A0AEC0;
    }
    .react-datepicker__day:hover, .react-datepicker__day--keyboard-selected:hover{
        transition: 0.3s;
        background: #eff0f3;
    }
    .react-datepicker__day--keyboard-selected{
        background-color: #1CDA51;
        font-weight: bold;
        color: white;
    }


} */